@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 20, 33%, 98%;
    --color-secondary: 167, 75%, 59%;
    --color-secondary-dark: 167, 87%, 40%;
    --color-secondary-light: 167, 93%, 73%;
    --color-neutral: 240, 100%, 7%;
    --color-content: 0, 0%, 0%;
  }
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
  .validation {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
}

@layer utilities {
  input:invalid[focused="true"] {
    border: 1px solid red;
  }
  input:invalid[focused="true"] ~ span {
    display: block;
  }
}
